DS_Store
.DS_Store

secrets/
secrets/*

# Exclude locally vendored dependencies.
vendor/

# Exclude composer files
composer.json
composer.lock

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore

output/

web-frontend/images/tmp/